.commentsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background: linear-gradient(180deg, #f8e9e9, #b3d0e1); 
    color: #333; 
    text-align: center;
    position: relative;
    padding: 2rem 0;
}

.commentsText h1 {
    font-size: 4rem;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
    color: #333; 
    font-family: 'Source Code Pro', 'Courier New', monospace;
    font-weight: 700; 
    padding-top: 5%;
    margin-bottom: 2rem;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 900px;
    gap: 1.5rem;
}




.comment {
    background: linear-gradient(135deg, #eae5f7, #c4bfef); 
    border-radius: 10px;
    padding: 1.5rem;
    margin: 10px 0;
    width: 100%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.comment p {
    font-size: 1.1rem;
    font-family: 'Patrick Hand', cursive; 
    line-height: 1.6;
    color: #ffffff;
}

.comment p strong {
    font-weight: bold;
    color: #ffffff;
}

.commentDate {
    font-size: 0.9rem;
    color: #c7c5c5;
    margin-top: 1rem;
    font-style: italic;
}

@keyframes sparkle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .commentsPage {
        padding: 1rem;
    }
    .commentsText h1 {
        font-size: 3rem;
    }
    .commentsContainer {
        width: 95%;
    }
}
